<!doctype html>

<html>
<head>
	<title>Aware-A-Day</title>	
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css">
  	<link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  	<script src="https://ajax.googleapis.bootcss.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
		<!--<div class="jumbotron">
			<h1>Michael Bernstein</h1>
			<p>human-computer interaction &middot; social computing &middot; crowdsourcing</p>
		</div>

		<h4>Projects</h4>
		{{#each projects}}
			<div class="project" id="{{id}}">
				<div class="thumbnail">
					<a href="/project/{{id}}">
						<img src="images/{{image}}" alt="Lorem Pixel image" class="img-responsive">
						<h4>{{title}}</h4>
					</a>
					<div class="likeCtr"><button class="btn btn-default likeBtn">Like</button></div>
					<div class="details"></div>
				</div>
			</div>
		{{/each}}-->

	<!-- main content of the page goes here -->
	<div class="home">
		1. text<br>
		2. text<br>
		3. text<br>
		4. text<br>
		5. text<br>
		6. text<br>
		7. text<br>
		8. text<br>
		9. text<br>
		10. text<br>
		11. text<br>
		12. text<br>
		13. text<br>
		14. text<br>
		15. text<br>
		16. text<br>
		17. text<br>
		18. text<br>
		19. text<br>
		10. text<br>
	</div>

	<!-- top header: shows date and teme -->
	<!--<div class="top-header">
		<div class="date-square">
			Feb 10
		</div>
		<div class="heading-theme">
			National Umbrella Day
		</div>
	</div>-->

	<!-- bottom navbar -->
	<div class="bottom-navbar">
		<div class="col-5"><a href="/">Home</a></div>
		<div class="col-5"><a href="/news">News</a></div>
		<div class="col-5"><a href="/organizations">Organizations</a></div>
		<div class="col-5"><a href="/challenge">Challenge</a></div>
		<div class="col-5"><a href="/trophies">Trophies</a></div>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/introHCI.js"></script>
</body>
</html>
