<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.bootcss.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!--Bootstrap-->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <!--Custom CSS-->
    <link href="/css/introHCI.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/Login.css" type="text/css">
</head>


<body>
  <div class="main">
  	<div class="container form1">
  		<div class="row myCenter">  
        <div class="col-xs-6 col-md-4 col-center-block">
  		<h2 class="page-header text-center">
            Login
        </h2>
  	    <form role="form">
  	  <div class="form-group">
  	    <label for="loginUser">Username</label>
  	    <input type="text" class="form-control" id="loginUser" placeholder="Enter username">
  	  </div>
  	  <div class="form-group">
  	    <label for="loginPassword">Password</label>
  	    <input type="password" class="form-control" id="loginPassword" placeholder="Enter password">
  	  </div>
  	</form>


  	  <!--<button class="btn btn-default" 
  	  data-toggle="modal" data-target="#myModal">Sign Up</button>-->
  	  <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  Sign Up
</button>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    	<div class="form2">
      <h2 class="page-header text-center">
            Sign Up
        </h2>
  	    <form role="form">
  	  <div class="form-group">
  	    <label for="signupUser">Username</label>
  	    <input type="text" class="form-control" id="signupUser" placeholder="Enter username">
  	  </div>
  	  <div class="form-group">
  	    <label for="signupPassword">Password</label>
  	    <input type="password" class="form-control" id="signupPassword" placeholder="Enter password">
  	  </div>
      <div class="form-group">
        <label for="signupEmail">Email</label>
        <input type="email" class="form-control" id="signupEmail" placeholder="Enter email">
      </div>
      <p id="signupMessage"></p>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" onclick=signup()>Sign Up</button>
        <!--<button type="button" class="btn btn-primary" data-dismiss="modal" onclick=signup()>Sign Up</button>-->
      </div>
      </div>
    </div>
  </div>
</div>
  	  <button type="button" class="btn btn-default" onclick=login()>Log In</button>
      <p id="loginMessage"></p>
</div>
</div>
</div>
</div>



<!--<button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  Sign Up
</button>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <h2 class="page-header text-center">
            Login
        </h2>
  	    <form role="form">
  	  <div class="form-group">
  	    <label for="exampleInputEmail1">Email address</label>
  	    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
  	  </div>
  	  <div class="form-group">
  	    <label for="exampleInputPassword1">Password</label>
  	    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  	  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>-->
  <!-- top header: shows date and theme -->
	<div class="top-header">
		<div class="date-square">
			{{mon}}<br>{{date}}
		</div>
		<div class="heading-theme">
			{{theme}}
		</div>
	</div><!--/header-->

	<!-- bottom navbar -->
  <div class="bottom-navbar">
    <div class="col-5 navbar-font"><a href="/">Home</a></div>
    <div class="col-5 navbar-small-font"><a href="/challenge">Challenge</a></div>
    <div class="col-5 navbar-small-font"><a href="/organizations">Organizations</a></div>
    <div class="col-5 navbar-font"><a href="/news">News</a></div>
    <div class="col-5 navbar-font"><a href="/trophies">Trophies</a></div>
  </div><!--/navbar-->

  <!--Firebase-->
  <script src="https://www.gstatic.com/firebasejs/3.6.10/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyDRhai38EtSB6BzazJtVnpD4FD0I0_3Av0",
      authDomain: "awareaday.firebaseapp.com",
      databaseURL: "https://awareaday.firebaseio.com",
      storageBucket: "awareaday.appspot.com",
      messagingSenderId: "385024179257"
    };
    firebase.initializeApp(config);
  </script><!--/Firebase-->
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
  <!--Custom JS-->
	<script src="/js/introHCI.js"></script>
</body>
</html>    