/* CALENDAR gets a special container for content */
.calendar-container {
    /*margin-bottom: 18%;*/
    margin-bottom: 75px;
    padding: 20px;
}

/* popup box to show Event */
#eventPopup {
	position: absolute;
	/*height: 200px;*/
	width: 250px;
	top: 40%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	border: 1px solid #888;
	background-color: white;
}