/* Challenge container */
.challenge {
	text-align: center;
}

/* displaying the challenge */
#challenge {
	border: solid;
	padding: 10px;
	outline-offset: 5px;
	border-radius: 20px;
}

/* Challenge Completed button */
#completed-btn {
	margin-top: 10px;
	padding: 15px;
	outline: 0;
	/*background: white;*/
}

/* Participants container */
.participants {
	margin-top: 15px;
}

/* displaying the number of participants */
#displayCount {
	color: #003380; /* dark blue */
}

/* extra message that will appear */
#partUpdateMessage {
	color: green;
}