.main{
	text-align: center;
}

#challenge{
	border: solid;
	padding: 10px;
	outline-offset: 5px;
	border-radius: 20px;
}

#completedbtn{
	padding: 18px;
	margin-top: 15px;
	outline: 0;
	background: white;
	font-size: 16px;
}
.button{
	/*background-color: green;
	border: none;
	color: white;
	padding: 18px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 4px 2px;
	cursor: pointer;
*/
}

.participants {
	margin-top: 15px;
	font-size: 150%;
}

#displayCount {
	font-size: 180%;
	color: #003380; /* dark blue */
}

#partUpdateMessage {
	font-size: 75%;
	color: green;
}