/* HOME gets a special container for content */
.home {
     margin-bottom: 75px;
     padding: 20px;
}

.button{
     position: absolute;
     right: 10px;
     top: 5px;
}

#help{
     width: 25px;
     height: 25px;
     background: gray;
     border-color: #000;
     border-radius: 4em;
     outline: 0;
}
/*#help{
     top: 5px;
     display: block;
     width: 20px;
     height: 20px;
     border-radius:50px;
     font-size:18px;
     color:#fff;
     line-height:20px;
     text-align:center;
     text-decoration:none;
     background: gray;
     } */
#help:hover{color:#ccc;
     text-decoration:none;
     background:#333
}

#myhelpbtn{
     display: none;
     position: fixed;
     z-index: 100;
     right: 10px;
     top: 5%;
     overflow: auto;
}

.help-content{
   /*  display: none;*/
     background-color: #fefefe;
     margin: auto;
     padding: 20px;
     border: 1px solid #888;
     width: 80%;
}

.close{
     color: #aaaaaa;
     float: right;
     font-size: 28px;
     font-weight: bold;
}
.close:hover,
.close:focus {
     color: #000;
     text-decoration: none;
     cursor: pointer;
}

.date {
	position: relative;
    left: 0;
    top: 0%;
    width: 100%;
    text-align: center;
    margin-top: 15px;
	background-color: #80d4ff;
    padding: 15px;
    border-radius: 25px;
    font-size: 400%;
    /* width: 80px;*/
}
.date p {
     vertical-align: center;
     color: #6e6e6e;
}

.theme {
     position: relative;
     left: 0;
     /*top: 35%;*/
     margin-top: 25px;
     width: 100%;
     text-align: center;
}

.icon {
    position:relative;
    text-align: center;
    padding: 10px;
    border-radius: 50px;
    width: 75px;
    height: 75px;
    background-color: #80d4ff;
    margin-left: auto;
    margin-right: auto;

     /*position: relative;
     text-align: center;
    /margin-top: 50px;
     margin-top: auto;
     margin-bottom: auto;
     display: block;
     border-radius:50px;
     font-size:100px;
     color:#fff;
     line-height:20px;*/
}

.day-description{
     position: relative;
     /*top: 30px;*/
     width: 100%;
     text-align: center;
     font-size: 130%;
}