/* HOME gets a special container for content */
.home {
    margin-bottom: 70px;
    padding: 20px;
}

.help-button{
    position: absolute;
    right: 15px;
    top: 15px;
}

#help{
    width: 25px;
    height: 25px;
    background: #bbbbbb;
    border-color: #000;
    border-radius: 20px;
    outline: 0;
    /*top: 5px;
    display: block;
    width: 20px;
    height: 20px;
    border-radius:50px;
    font-size:18px;
    color:#fff;
    line-height:20px;
    text-align:center;
    text-decoration:none;
    background: gray;*/
}
#help:hover{color:#ccc;
    text-decoration:none;
    background:#333;
}

#myhelpbtn{
    display: none;
    position: fixed;
    z-index: 100;
    right: 10px;
    top: 5%;
    overflow: auto;
}

.help-content{
   /*  display: none;*/
    width: 80%;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    background-color: #fefefe;
}
.help-content b {
    color: purple;
}

.close{
    float: right;
    color: #111111;
    font-weight: bold;
    font-size: 28px;
}
.close:hover,
.close:focus {
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.date {
    width: 100%;
    position: relative;
    left: 0;
    top: 0%;
    border-radius: 25px;
    margin-top: 15px;
    padding: 15px;
    text-align: center;
	/*background-color: #80d4ff;*/
    font-size: 350%;
}
.date p {
    vertical-align: middle;
    /*color: #6e6e6e;*/
    color: #666666;
}

.theme {
    width: 100%;
    position: relative;
    left: 0;
    /*top: 35%;*/
    margin-top: 25px;
    text-align: center;
}

.icon {
    position:relative;
    text-align: center;
    padding-top: 42px;
    border-radius: 100px;
    width: 125px;
    height: 125px;
    /*background-color: #4dc3ff; /* darker */
    margin-left: auto;
    margin-right: auto;
    /*margin-top: 50px;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
    font-size:100px;
    color:#fff;
    line-height:20px;*/
}
.icon a {
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    text-decoration: none;
    color: #333333;
    font-size: 120%;
}
.icon a:hover {
    color: white;
}

.day-description{
     position: relative;
     /*top: 30px;*/
     width: 100%;
     text-align: center;
     font-size: 120%;
}