/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

.jumbotron {
	position: relative;
	background: none;
}

.jumbotron:after {
     content:"";
     background: url("../images/lorempixel.jumbotron.jpeg");
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;	
}

.jumbotron p {
     color: #6e6e6e;
}

.project a {
     text-align: center;
}

.project .details {
     overflow: hidden;
}

.project .details .detailsImage {
     width: 200px;
     margin: 10px 10px 10px 0px;
     float: left;
}

.row .thumbnail h4 {
     text-align: left;
}

.likeCtr {
     text-align: center;
}

.top-header {
     height: 100px;
     width: 100%;
     position: fixed;
     top: 0;
     display: table;
     /*border-style: solid;*/
     background-color: #ffcccc; 
}

.date-square {
     height: 100px;
     width: 100px;
     display: table-cell;
     text-align: center;
     vertical-align: middle;
     border-style: solid;
}

.heading-theme {
     height: 100px;
     display: table-cell;
     text-align: center;
     vertical-align: middle;
     border-style: solid;
}

.main {
     top: 100px;
}

.bottom-navbar {
     height: 50px;
     width: 100%;
     position: fixed;
     bottom: 0;
     display: table;
     /*border-style: solid;*/
     background-color: #ffcccc;
}

.col-5 {
     height: 50px;
     width: 20%;
     display: table-cell;
     text-align: center;
     vertical-align: middle;
     border-style: solid;
}