/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

.jumbotron {
	position: relative;
	background: none;
}

.jumbotron:after {
     content:"";
     background: url("../images/lorempixel.jumbotron.jpeg");
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;	
}

.jumbotron p {
     color: #6e6e6e;
}

.project a {
     text-align: center;
}

.project .details {
     overflow: hidden;
}

.project .details .detailsImage {
     width: 200px;
     margin: 10px 10px 10px 0px;
     float: left;
}

.row .thumbnail h4 {
     text-align: left;
}

.likeCtr {
     text-align: center;
}

.top-header {
     height: 100px;
     width: 100%;
     position: fixed;
     top: 0;
     display: table;
     /*border-style: solid;*/
     background-color: #ffcccc; 
     font-size: 20px;
}

.date-square {
     height: 100px;
     width: 100px;
     display: table-cell;
     text-align: center;
     vertical-align: middle;
     padding: 10px;
     border-style: solid;
     border-width: 1px;
     border-color: white;
     background-color: #ffcccc;
     font-size: 180%;
}

.heading-theme {
     height: 100px;
     display: table-cell;
     text-align: center;
     vertical-align: middle;
     padding: 10px;
     border-style: solid;
     border-width: 1px;
     border-color: white;
     background-color: #ffcccc;
     font-size: 150%;
}

.main {
     margin-top: 100px;
     margin-bottom: 50px;
     /*position: relative;*/
     /*overflow-y: scroll;*/
     padding: 20px;
}

.bottom-navbar {
     height: 50px;
     width: 100%;
     position: fixed;
     bottom: 0;
     display: table;
     /*border-style: solid;*/
     background-color: #ffcccc;
}

.col-5 {
     height: 50px;
     width: 20%;
     display: table-cell;
     text-align: center;
     vertical-align: middle;
     padding: 5px;
     border-style: solid;
     border-width: 1px;
     border-color: white;
     font-size: 80%;
}

.home {
     margin-bottom: 50px;
     /*position: relative;*/
     /*overflow-y: scroll;*/
     padding: 20px;
}

body {
      font: 20px Montserrat, sans-serif;
      line-height: 0.3;
      color: #f5f6f7;
  }
.navbar {
      padding-top: 0px;
      padding-bottom: 0px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 18px;
      letter-spacing: 5px;
      z-index: 9999;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  .navbar .navbar-brand:hover, .navbar .active navbar-brand {
      color: #f57381 !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #fff !important;
      background-color: #f57381 !important;
  }
  .well{
     color:black;
     text-align: left;
     background-color: pink;
     transition: box-shadow 1s;  
  }
  .well:hover{
     box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  @media(max-width: 768px){
          .well{
               font-size: 15px;
          }
          .heading-theme{
               font-size: 20px;
          }
       }

     /* Add these lines in the header in order to apply the style of bootstrap
     <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css">
     <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
     <script src="https://ajax.googleapis.bootcss.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
     <script src="http://maxcdn.bootstrapcdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
     */