/* LOGIN: for the Sign Up modal */
.form2 {
	margin: 15px;
	padding-left: 15px;
	padding-right: 15px;
}


/* CALENDAR: popup box to show Event */
#eventPopup {
  position: absolute;
  /*height: 200px;*/
  width: 50%;
  top: 40%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 1px solid #888;
  background-color: white;
}


/* ORGANIZATIONS: container for each organization item */
.well {
   padding: 15px;
   text-align: left;
   /*line-height: 0.3;*/
   transition: box-shadow 1s;
   color: black;
}

/* ORGANIZATIONS: Donate button */
.donate-btn{
	float:right;
}


/* NEWS: positioning images to the left */
.image-float {
    float: left;
    margin-right: 10px;
    margin-bottom: 0px;
}


/* TROPHIES: trophy image */
.media-object{
	width: 75px;
	height: 75px;
}